
/* GERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: "Gliker";
  src: url("midias/gliker-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('midias/fundo.svg');
    background-size: cover;
    font-family: 'Poppins';
}

main {
    flex: 1;
}

/* NAVBAR */



header {
    position: sticky;
    top: 15px;
    font-family: 'Gliker';
    font-size: 0.8rem;
    z-index: 9999;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #efbf04;
    background-color: black;
    padding: 5px 20px;
    margin: 10px;
    border-radius: 20px;
}

nav #title {
    display: flex;
    gap: 8px;
}

nav #logo {
    width: 25px;
}

nav #nota {
    width: 20px;
}

nav #btn {
    font-size: 15px;
    color: white;
}

nav #opcs {
    display: none;
    flex-direction: column;
    background-color: #efbf04;
    padding: 10px;
    border-radius: 8px;

    position: absolute;
    top: 40px;   
    right: 20px; 
    z-index: 999; 
}

nav #opcs a {
    color: black;
    border-radius: 10px;
    padding: 5px;
    transition: 0.3s;
}

nav #opcs a:hover {
    color: white;
    background-color: #e5631e;
    transform: scale(1.05);
}



/* MAIN */



.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 60vw;
    flex-direction: column;
    background-color: black;
    padding: 15px;
    margin: 0 auto 20px;
    border-radius: 25px;
    gap: 8px;
}

.box img {
    width: 55vw;
    border-radius: 10px;
}

.box .btn {
    text-align: center;
    width: 55vw;
    background-color: #e5631e;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    transition: 0.3s;
}

.box .btn:hover {
    color: black;
    background-color: #efbf04;
}



/* Sobre */



#sobre {
    max-width: 60vw;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
    font-size: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

#sobre h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

#sobre ul {
    margin-left: 20px;
}

.imgs {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    margin: 15px auto;
}

.imgs img {
    width: 29vw;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}



/* Artistas */



#artistas {
    padding: 40px 20px;
}

#artistas h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}

.cards-artistas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 100%;
}

@media (min-width: 1200px) {
    .cards-artistas {
        grid-template-columns: repeat(4, 1fr);
    }
}


.card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px #0002;
    text-align: center;
    padding-bottom: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card:hover h3 {
    color: #e5631e;
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0 5px;
    font-size: 20px;
}

.card p {
    padding: 0 10px;
    font-size: 14px;
    color: #555;
}

.cards-artistas img {
    filter: grayscale(100%);
    transition: 0.3s;
}



/* FOOTER */



footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 8px 30px;
    font-size: 10px;
}

.textF {
    display: flex;
    align-items: center;
    gap: 50px;
}

.textF a {
    display: flex;
    align-items: center;
    color: #efbf04;
}

footer img {
    width: 30px;
}

